@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-display-bold {
        @apply text-[72.2px] font-bold;
    }

    .text-display-semi-bold {
        @apply text-[72.2px] font-semibold;
    }

    .text-display-extra-bold {
        @apply text-[72.2px] font-extrabold;
    }

    .text-h1-bold {
        @apply text-[60.2px] font-bold;
    }

    .text-h1-semi-bold {
        @apply text-[60.2px] font-semibold;
    }

    .text-h1-extra-bold {
        @apply text-[60.2px] font-extrabold;
    }

    .text-h2-bold {
        @apply text-[41.8px] font-bold;
    }

    .text-h2-semi-bold {
        @apply text-[41.8px] font-semibold;
    }

    .text-h2-extra-bold {
        @apply text-[41.8px] font-extrabold;
    }

    .text-h3-bold {
        @apply text-[34.8px] font-bold;
    }

    .text-h3-semi-bold {
        @apply text-[34.8px] font-semibold;
    }

    .text-h3-extra-bold {
        @apply text-[34.8px] font-extrabold;
    }

    .text-h4-bold {
        @apply text-[29px] font-bold;
    }

    .text-h4-semi-bold {
        @apply text-[29px] font-semibold;
    }

    .text-h4-extra-bold {
        @apply text-[29px] font-extrabold;
    }

    .text-subheading-medium {
        @apply text-[24.2px] font-medium;
    }

    .text-subheading-bold {
        @apply text-[24.2px] font-bold;
    }

    .text-subheading-underlined {
        @apply text-[24.2px] underline;
    }

    .text-subheading-light {
        @apply text-[24.2px] font-light;
    }


    .text-p1-medium {
        @apply text-[20.2px] font-medium;
    }

    .text-p1-bold {
        @apply text-[20.2px] font-bold;
    }

    .text-p1-underlined {
        @apply text-[20.2px] underline;
    }

    .text-p1-light {
        @apply text-[20.2px] font-light;
    }

    .text-p2-medium {
        @apply text-[16.8px] font-medium;
    }

    .text-p2-bold {
        @apply text-[16.8px] font-bold;
    }

    .text-p2-underlined {
        @apply text-[16.8px] underline;
    }

    .text-p2-light {
        @apply text-[16.8px] font-light;
    }

    .text-p3-medium {
        @apply text-[14px] font-medium;
    }

    .text-p3-bold {
        @apply text-[14px] font-bold;
    }

    .text-p3-underlined {
        @apply text-[14px] underline;
    }

    .text-p3-light {
        @apply text-[14px] font-light;
    }

    .text-caption-medium {
        @apply text-[11.7px] font-medium;
    }

    .text-caption-bold {
        @apply text-[11.7px] font-bold;
    }

    .text-caption-underlined {
        @apply text-[11.7px] underline;
    }

    .text-caption-light {
        @apply text-[11.7px] font-light;
    }

    .text-caption-bold-underlined {
        @apply text-[11.7px] font-bold underline;
    }

    .text-footer-medium {
        @apply text-[9.7px] font-medium;
    }

    .text-footer-bold {
        @apply text-[9.7px] font-bold;
    }

    .text-footer-underlined {
        @apply text-[9.7px] underline;
    }

    .text-footer-light {
        @apply text-[9.7px] font-light;
    }

    .text-footer-bold-underlined {
        @apply text-[9.7px] font-bold underline;
    }

}

.bt-primary-default {
    background-image: linear-gradient(130deg, #eedbb782 10%, #dcb76e 99.7%)
}

.bt-secondary-default {
    background-image: linear-gradient(130deg, #AB455E 10%, #6A0A22 98.93%);
}

.bt-neutral-default {
    background-image: linear-gradient(270deg, #E0E3E6 0.3%, #DADEF3 100%)
}



.light {
    --color-primary-100: #CEEDFF;
    --color-primary-200: #C2E5F9;
    --color-primary-300: #B5DDF3;
    --color-primary-400: #AAD5ED;
    --color-primary-500: #9ECDE7;
    --color-primary-600: #93C5E2;
    --color-primary-700: #89BDDC;
    --color-primary-800: #7EB6D6;
    --color-primary-900: #74AED0;
    --color-primary-1000: #6BA7CA;
    --color-primary-1100: #62A0C4;
    --color-primary-1200: #5999BE;
    --color-primary-1300: #5092B8;
    --color-primary-1400: #F3CF89;
    --color-primary-1500: #F3CF89;
    --color-primary-1600: #397FA7;
    --color-primary-1700: #3278A1;
    --color-primary-1800: #2B729B;
    --color-primary-1900: #256C95;
    --color-primary-2000: #1F668F;
    --color-primary-2100: #1A6189;
    --color-primary-2200: #145B83;
    --color-primary-2300: #10567E;
    --color-primary-2400: #0B5078;
    --color-primary-2500: #074B72;
    --color-primary-2600: #03466C;
    --color-primary-2700: #004166;

    --color-secondary-100: #FECDD9;
    --color-secondary-200: #F8C0CE;
    --color-secondary-300: #F1B4C3;
    --color-secondary-400: #EBA8B8;
    --color-secondary-500: #E49CAE;
    --color-secondary-600: #DE91A4;
    --color-secondary-700: #D7869A;
    --color-secondary-800: #D17B90;
    --color-secondary-900: #CB7187;
    --color-secondary-1000: #C4687E;
    --color-secondary-1100: #BE5E76;
    --color-secondary-1200: #B7556E;
    --color-secondary-1300: #B14D66;
    --color-secondary-1400: #AB455E;
    --color-secondary-1500: #A43D57;
    --color-secondary-1600: #9E3650;
    --color-secondary-1700: #972F49;
    --color-secondary-1800: #912843;
    --color-secondary-1900: #8A223C;
    --color-secondary-2000: #841D37;
    --color-secondary-2100: #7E1731;
    --color-secondary-2200: #77122C;
    --color-secondary-2300: #710E27;
    --color-secondary-2400: #6A0A22;
    --color-secondary-2500: #64061E;
    --color-secondary-2600: #5D031A;
    --color-secondary-2700: #570016;

    --color-tertiary-100: #FFF6E4;
    --color-tertiary-200: #FCEAC9;
    --color-tertiary-300: #F3CF89;
    --color-tertiary-400: #e1b866;
    --color-tertiary-500: #D59414;
    --color-tertiary-600: #B47A09;
    --color-tertiary-700: #724C03;
    --color-tertiary-800: #402A01;

    --color-neutral-100: #E6E6E7;
    --color-neutral-200: #E0E3E6;
    --color-neutral-300: #DADEF3;
    --color-neutral-400: #D3DAE1;
    --color-neutral-500: #CBD4DC;
    --color-neutral-600: #C2CCD5;
    --color-neutral-700: #BAC5D1;
    --color-neutral-800: #ADBBC8;
    --color-neutral-900: #A1AEBD;
    --color-neutral-1000: #93A0AF;
    --color-neutral-1100: #8390A0;
    --color-neutral-1200: #717E8B;
    --color-neutral-1300: #626D79;
    --color-neutral-1400: #505A64;
    --color-neutral-1500: #424A52;
    --color-neutral-1600: #343B41;
    --color-neutral-1700: #2A2F35;
    --color-neutral-1800: #212428;
    --color-neutral-1900: #1A1D1F;
    --color-neutral-2000: #121416;
    --color-neutral-2100: #101012;
    --color-neutral-2200: #0C0C0D;
    --color-neutral-2300: #0A0A0B;
    --color-neutral-2400: #080909;
    --color-neutral-2500: #080809;
    --color-neutral-2600: #070707;
    --color-neutral-2700: #070707;

    --color-green-100: #E5FDD6;
    --color-green-200: #C3F6A4;
    --color-green-300: #9BEA6A;
    --color-green-400: #62CA21;
    --color-green-500: #499B17;
    --color-green-600: #2E630D;
    --color-green-700: #193806;

    --color-red-100: #F9D4CC;
    --color-red-200: #F5AC9D;
    --color-red-300: #EF7962;
    --color-red-400: #D4482C;
    --color-red-500: #AE2F15;
    --color-red-600: #7D1B08;
    --color-red-700: #5F1102;

    --color-white: #f7f7f7;
    --color-black: #1C181E;

    --color-silver: #D2E0E4;

    --color-background: #F5F4F7;
}


.midnight {
    --color-primary-100: #CEEDFF;
    --color-primary-200: #C2E5F9;
    --color-primary-300: #B5DDF3;
    --color-primary-400: #AAD5ED;
    --color-primary-500: #9ECDE7;
    --color-primary-600: #93C5E2;
    --color-primary-700: #89BDDC;
    --color-primary-800: #7EB6D6;
    --color-primary-900: #74AED0;
    --color-primary-1000: #6BA7CA;
    --color-primary-1100: #62A0C4;
    --color-primary-1200: #5999BE;
    --color-primary-1300: #5092B8;
    --color-primary-1400: #488CB2;
    --color-primary-1500: #4085AD;
    --color-primary-1600: #397FA7;
    --color-primary-1700: #3278A1;
    --color-primary-1800: #2B729B;
    --color-primary-1900: #256C95;
    --color-primary-2000: #1F668F;
    --color-primary-2100: #1A6189;
    --color-primary-2200: #145B83;
    --color-primary-2300: #10567E;
    --color-primary-2400: #0B5078;
    --color-primary-2500: #074B72;
    --color-primary-2600: #03466C;
    --color-primary-2700: #004166;

    --color-secondary-100: #FECDD9;
    --color-secondary-200: #F8C0CE;
    --color-secondary-300: #F1B4C3;
    --color-secondary-400: #EBA8B8;
    --color-secondary-500: #E49CAE;
    --color-secondary-600: #DE91A4;
    --color-secondary-700: #D7869A;
    --color-secondary-800: #D17B90;
    --color-secondary-900: #CB7187;
    --color-secondary-1000: #C4687E;
    --color-secondary-1100: #BE5E76;
    --color-secondary-1200: #B7556E;
    --color-secondary-1300: #B14D66;
    --color-secondary-1400: #AB455E;
    --color-secondary-1500: #A43D57;
    --color-secondary-1600: #9E3650;
    --color-secondary-1700: #972F49;
    --color-secondary-1800: #912843;
    --color-secondary-1900: #8A223C;
    --color-secondary-2000: #841D37;
    --color-secondary-2100: #7E1731;
    --color-secondary-2200: #77122C;
    --color-secondary-2300: #710E27;
    --color-secondary-2400: #6A0A22;
    --color-secondary-2500: #64061E;
    --color-secondary-2600: #5D031A;
    --color-secondary-2700: #570016;

    --color-neutral-100: #E6E6E7;
    --color-neutral-200: #E0E3E6;
    --color-neutral-300: #DADEF3;
    --color-neutral-400: #D3DAE1;
    --color-neutral-500: #CBD4DC;
    --color-neutral-600: #C2CCD5;
    --color-neutral-700: #BAC5D1;
    --color-neutral-800: #ADBBC8;
    --color-neutral-900: #A1AEBD;
    --color-neutral-1000: #93A0AF;
    --color-neutral-1100: #8390A0;
    --color-neutral-1200: #717E8B;
    --color-neutral-1300: #626D79;
    --color-neutral-1400: #505A64;
    --color-neutral-1500: #424A52;
    --color-neutral-1600: #343B41;
    --color-neutral-1700: #2A2F35;
    --color-neutral-1800: #212428;
    --color-neutral-1900: #1A1D1F;
    --color-neutral-2000: #121416;
    --color-neutral-2100: #101012;
    --color-neutral-2200: #0C0C0D;
    --color-neutral-2300: #0A0A0B;
    --color-neutral-2400: #080909;
    --color-neutral-2500: #080809;
    --color-neutral-2600: #070707;
    --color-neutral-2700: #070707;

    --color-green-100: #E5FDD6;
    --color-green-200: #C3F6A4;
    --color-green-300: #9BEA6A;
    --color-green-400: #62CA21;
    --color-green-500: #499B17;
    --color-green-600: #2E630D;
    --color-green-700: #193806;

    --color-red-100: #F9D4CC;
    --color-red-200: #F5AC9D;
    --color-red-300: #EF7962;
    --color-red-400: #D4482C;
    --color-red-500: #AE2F15;
    --color-red-600: #7D1B08;
    --color-red-700: #5F1102;

    --color-white: #f7f7f7;
    --color-black: #1C181E;

    --color-silver: #D2E0E4;

    --color-background: #F5F4F7;
}

/* Start: deprecated styles */
.flex-container {
    display: flex;
    align-items: flex-start;
    /* Align items to the start of the container */
}

.text-editor {
    height: 100vh;
    width: 40vw;
}

/* END: deprecated styles */
body {
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
    caret-color: #1f75e6;

}

.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fd7702;
}


.screenplay {
    width: 842px;
    color: #070707;
    background-color: #f7f4ed;
    outline: none;
    margin: 0px auto;
    /* Updated to consolidate the margin property */
    padding: 20px 20px 20px 44px;
    border: 0;
    font-size: 12pt;
    /* Consolidated font-size property */
    font-family: "courier-std", monospace;
    /* Consolidated font-family property */
    overflow-y: auto;
    /* Changed from 'hidden' to 'auto' */
    vertical-align: baseline;
    text-align: left;
    position: static;
}


.screenplay ::selection {
    background-color: #ffb7b7;
    /* Light red background */
    color: #000000;
    /* Black text color */
}

.screenplay>.action {
    padding-left: 64px;
    margin-top: 1em;
    display: block;
}

.screenplay>.character {
    padding-left: 216px;
    margin-top: 2em;
    text-transform: uppercase;
    display: block;
}

/* Dialogue */

.screenplay>.dialogue {
    padding-left: 144px;
    color: var(--bright-yellow) !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-align: left;
}

.screenplay>.transition {
    color: h
}

.underline {
    text-decoration: underline;
}

.screenplay>.parenthetical {
    text-align: center;
    padding-right: 180px;
}


/* Headers */

.screenplay>.scene_heading {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold !important;
    color: var(--text-accent) !important;
}

.screenplay>.scene_heading::before {
    content: attr(data-scene-number);
    width: 64px;
    display: inline-block;
    font-weight: bold;
    padding-right: 32px;
    /* Additional styling for the 'Title: ' text */
}

.screenplay>.note {
    font-style: italic;
    color: grey;
    margin: 10px 0;
}

.character.dual,
.dialogue.dual {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.title_page::before {
    content: attr(data-title-page);
    color: red;
    /* Additional styling for the 'Title: ' text */
}

.title-page-title,
.title-page-author,
.title-page-credit,
.title-page-source,
.title-page-draft_date,
.title-page-date,
.title-page-contact,
.title-page-copyright {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold.italic {
    font-weight: bold;
    font-style: italic;
}

.bold.underline {
    font-weight: bold;
    text-decoration: underline;
}

.italic.underline {
    font-style: italic;
    text-decoration: underline;
}

.bold.italic.underline {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.toolbar-menu {
    margin-top: 10px;
    width: 400px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: rgba(27, 27, 27, 0.6);
}

.toolbar-button {
    font-size: 11px;
    background-color: rgb(71, 71, 71);
    border: none;
    color: rgb(226, 226, 226)
}